@import "tailwindcss";

html,
body {
  height: 100%;
  margin: 0;
  font-family: "Inter", ui-sans-serif, system-ui, sans-serif;
  background: rgb(248, 249, 250);
}

app-root {
  display: block;
  height: 100%;
}
